@import 'mixin.less';


.animatedDraw{
  to {
    stroke-dashoffset: 0;
    //fill: @colorBangas;
    //fill-opacity: 1;
  }
}
@-webkit-keyframes animationDraw {
    .animatedDraw;
}
@-ms-keyframes animationDraw {
    .animatedDraw;
}
@-moz-keyframes animationDraw {
    .animatedDraw;
}
@keyframes animationDraw {
    .animatedDraw;
}

.animatedStroke{
  50% {
    stroke-width: 2;
  }
}

@-webkit-keyframes animationStroke {
    .animatedStroke;
}
@-ms-keyframes animationStroke {
    .animatedStroke;
}
@-moz-keyframes animationStroke {
    .animatedStroke;
}
@keyframes animationStroke {
    .animatedStroke;
}

.animationShadeOut{
  to {
    transform: translateY(100vh);
  }
}

@keyframes animationShadeOut {
    .animationShadeOut;
}
