@import "globals.less";


@timeFadeLogo:          600ms;
@delayFadeLogo:         300ms;
@timeLogo2:             @timeFadeLogo;
@delayLogo2:            @delayFadeLogo - 100;
@timeLogo3:             900ms;
@delayLogo3:            @timeLogo2 + @delayLogo2 + @delayFadeLogo;
@timeLogo4:             1800ms;
@delayLogo4:            @timeLogo3 + @delayLogo3 + @delayFadeLogo;

@timeSvgPath:           @delayLogo4;
@delaySvgPath:          @delayLogo2 + @timeLogo2 + @delayFadeLogo;
@timeSvgStroke:         2000ms;
@delaySvgStroke:        @delaySvgPath + @timeSvgPath;

body {
  background-color: @colorBg1;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: inherit;
}

.menuSuperior {
  .size(100%, 100px);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.listadoMenuSuperior {
  .size;
  max-width: 1000px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center; //desde aqui hay que pensar si es para desktop o mobile
  flex-direction: row; //solo desktop
  justify-content: flex-start;//solo desktop
  justify-content: space-around; //=?

}
.elementoMenuSuperior {
  font-size: 1.8em;
  line-height: 1.8em;
  position: relative;
  //text-align: center;
  // margin: 0 10vw 0 0;//desktop
  //   &:last-child {
  //     margin: 0 0 0 0;
  //   }
    &:nth-child(1) {
      color: @colorMiami1;
    }
    &:nth-child(2) {
      color: @colorMiami2;
    }
    &:nth-child(3) {
      color: @colorMiami3;
    }
    &:hover, &:active,
    &.activeSection {
      .overEffect {
        width: 100%;
      }
    }
}

.linkMenu {
  //.fontMenu;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
}

.overEffect {
  //.absoluteBottomLeft;
  display: block;
  margin: 0 auto;
  .size(0px, 1px);
  background-color: white;
  transition: width.4s ease;
}

.logoTony{
  .size(100%, auto);
  background-color: @colorBg1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

.logoTonyContainer {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  .size(100%, 25vh);
}

.logoTonyInside {
  opacity: 0;
  .size;
  .absoluteTopLeft;
}
.logoTony1{
  background-image: url('../img/logo_1.png');
}
.logoTony2{
  background-image: url('../img/logo_2.png');
  z-index: 20;
  animation: animationIn @timeLogo2 forwards linear @delayLogo2 1;
}
.logoTony3{
  background-image: url('../img/logo_3.png');
  z-index: 30;
  animation: animationIn @timeLogo3 forwards linear @delayLogo3 1;
}
.logoTony4{
  background-image: url('../img/logo_4.png');
  z-index: 40;
  animation: animationIn @timeLogo4 forwards cubic-bezier(0, 0.24, 0.21, 1.45) @delayLogo4 1;
}
.bangas { //esto tendra que ir con flex? ais ais
  //.absoluteBottomRight(0, 25vw);
  // display: flex;
  margin: 0 0 -3vh 0;
  width: 23vh;
  max-width: 550px;
  min-width: 187px;
  z-index: 50;
}
.bangasPath {
  stroke-width: 1;
  fill-opacity: 0;
  fill: transparent;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  stroke: @colorBangas;
  //animation: animationDraw @timeLogo4 forwards cubic-bezier(0, 0.24, 0.21, 1.45) @delayLogo4 1;
  animation: animationDraw @timeSvgPath forwards cubic-bezier(0, 0, 0.2, 1) @delaySvgPath 1, animationStroke @timeSvgStroke forwards ease @delaySvgStroke 2;
}


.soundCloudContainer {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 16vh 10vw;
}

.soundCloudList {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  max-width: 1000px;
}
.soundCloudItem {
  margin-bottom: 4vh;
  &:last-child {
    margin-bottom: 0;
  }
}

.no-js {
  .logoTony1 {
    background-image: url('../img/logo_4.png');
  }
  .bangasPath {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }
}


@media (max-width: 450px) {

  .menuSuperior {
    height: auto;
  }
  .listadoMenuSuperior {
    flex-direction: column;
  }
  .elementoMenuSuperior {
    padding-top: 1em;
    &:first-child {
      padding-top: 0;
    }
  }

}
.animateLogo.animateLogo {
  -webkit-animation-play-state:         paused;
  -moz-animation-play-state:            paused;
  animation-play-state:                 paused;
}
